<li>
    <article class="card">
        <img 
            src="{{ recommendation.featured_image | image_url: width: 248 }}" 
            alt="image of the {{ recommendation.featured_image.alt }}."
            width="248" 
            height="368"
            class="image card__image" 
        />

        {%- if recommendation.available != true -%}
            <ul class="list tags card__tags" role="list">
                <li class="tags__item">
                    <span>{{ 'products.product.sold_out' | t }}</span>
                </li>
            </ul>
        {%-endif -%}
      
        <h3 class="heading card__heading">
            <a class="link card__link" href="{{ recommendation.url }}">
                {{ recommendation.title | default: "Recommended product" }}
            </a>
        </h3>

        {%- unless recommendation.has_only_default_variant -%}
            {%- for recommendation-option in recommendation.options_with_values -%}
                {%- if recommendation-option.name == 'Color' -%}
                    <ul class="list card__list" role="list">
                        {%- for value in recommendation-option.values -%}
                            <li class="card__item card__item--{{ value | escape | downcase }}">
                                <span class="visually-hidden">{{ value }} color available</span>
                            </li>
                            {% style %}
                                {%- assign color = value | escape | downcase -%}

                                .card__item--{{ color }} {
                                    --card-color: {{ color }};
                                    {%- if color == 'white' -%}
                                        --card-border-color: var(--color-silver);
                                    {%- else -%}
                                        --card-border-color: {{ color }};
                                    {%- endif -%}
                                        }
                            {% endstyle %}
                        {%- endfor -%}
                    </ul>
                {%- endif -%}
            {%- endfor -%}
        {%- endunless -%}

        {%- if recommendation.price != blank -%}
            <span class="card__price">
                <span class="visually-hidden">Product price is</span>
                {{ recommendation.price | money_with_currency }}
            </span>
        {%- endif -%}
    </article>
</li>
