{%- capture footer-socials -%}
    {%- if block.settings.footer_about-facebook != blank or block.settings.footer_about-instagram != blank -%}
        <ul class="list socials footer__socials" role="list">
            {%- if block.settings.footer_about-facebook != blank -%}
                <li>
                    <a href="{{ block.settings.footer_about-facebook }}">
                        <img 
                            src="https://yury-andrush-develop.netlify.app/assets/images/icons/facebook-icon.svg"
                            role="img"
                            alt="Facebook account."
                            width="9"
                            height="19"
                            class="image" 
                        />
                    </a>
                </li>
            {%- endif -%}
    
            {%- if block.settings.footer_about-instagram != blank -%}
                <li>
                    <a href="{{ block.settings.footer_about-instagram }}">
                        <img 
                            src="https://yury-andrush-develop.netlify.app/assets/images/icons/instagram-icon.svg"
                            role="img"
                            alt="Instagram account."
                            width="19"
                            height="19"
                            class="image" 
                        />
                    </a>
                </li>
            {%- endif -%}
        </ul>
    {%- endif -%}
{%- endcapture -%}

<section class="footer__section">
    <h2 class="heading footer__heading">{{ block.settings.footer_about_heading | default: 'About' }}</h2>

    <address class="footer__address">
        <div class="user-description">
            {{ block.settings.footer_about_text | default: 'Shop address and infomation' }}
        </div>

        {{ footer-socials }}
    </address>
</section>
