<script src="{{ 'alternate-header.js' | asset_url }}" type="module"></script>

<header 
    class="header wrapper" 
    data-section-id="{{- section.id -}}"
    data-section-type="alternate-header"
>
    <a href="#main" class="link skip-link">Skip to content</a>

    {%- if section.settings.main-menu.links != blank -%}
        <nav class="header__navigation header__navigation--primary" aria-label="Primary">
            <ul class="list header__list header__list--primary" role="list">
                {%- for link in section.settings.main-menu.links -%}
                    <li>
                        <a class="link" href="{{ link.url }}">
                            {{ link.title }}
                        </a>
                    </li>
                {%- endfor -%}
            </ul> 
        </nav>
    {%- endif -%}

    {%- if section.settings.logo != blank -%}
        {%- assign logo-alt = section.settings.logo.alt | default: 'To the home page.' -%}

        <a class="header__logo" href="{{ routes.root_url }}"> 
            {{ section.settings.logo | image_url: width: 70 | image_tag: 
                width: 70,
                height: 70,
                alt: logo-alt
            }}
        </a>
    {%- endif -%}
    
    <nav class="header__navigation header__navigation--secondary" aria-label="Personal">
        <ul class="list header__list header__list--secondary" role="list">
            <li>
                <a class="link" href="{{ routes.account_url }}">
                    {{ 'customer.account.title' | t }}
                </a>
            </li>
    
            <li>
                <a class="link" href="{{ routes.search_url }}">
                    {{ 'general.search.search' | t }}
                </a>
            </li>
    
            <li>
                <a class="link" aria-labelledby="cart-status" href="{{ routes.cart_url }}">
                    <span role="status" id="cart-status" aria-live="polite">
                        <span class="visually-hidden">Items in</span>
                            {{ 'templates.cart.cart' | t }} (<span data-cart-counter>{{ cart.item_count }}</span>)
                    </span>
                </a>
            </li>
        </ul> 
    </nav>
</header>

<hr class="break" />

{% schema %}
  {
    "name": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Логотип"
      },

      {
        "type": "link_list",
        "id": "main-menu",
        "label": "Меню",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
