<hr class="break" />

<footer class="footer wrapper">
    {%- if section.blocks.size > 0 -%}
        <div class="footer__container">
            {%- for block in section.blocks -%}
                <section class="footer__section">                    
                    {%- case block.type -%}
                        {%- when 'About' -%}
                            {%- if block.settings.footer_about_heading != blank -%}
                                <h2 class="heading footer__heading">{{ block.settings.footer_about_heading }}</h2>
                            {%- endif -%}

                            {%- if block.settings.footer_about_text != blank or block.settings.footer_about-facebook != blank or
                              block.settings.footer_about-instagram != blank -%}
                                <address class="footer__address">
                                    {%- if block.settings.footer_about_text != blank -%}
                                        {{ block.settings.footer_about_text }}
                                    {%- endif -%}
                            
                                    {%- if block.settings.footer_about-facebook != blank or block.settings.footer_about-instagram != blank -%}                                   
                                        <ul class="list socials footer__socials" role="list">
                                            {%- if block.settings.footer_about-facebook != blank -%}
                                                <li>
                                                    <a href="{{ block.settings.footer_about-facebook }}">
                                                        <img 
                                                            src="https://yury-andrush-develop.netlify.app/assets/images/icons/facebook-icon.svg"
                                                            alt="Icon of the facebook and it's link"
                                                            width="9"
                                                            height="19"
                                                            class="image" 
                                                        />
                                                    </a>
                                                </li>
                                            {%- endif -%}
                                            
                                            {%- if block.settings.footer_about-instagram != blank -%}
                                                <li>
                                                    <a href="{{ block.settings.footer_about-instagram }}">
                                                        <img 
                                                            src="https://yury-andrush-develop.netlify.app/assets/images/icons/instagram-icon.svg"
                                                            alt="Icon of the instagram and it's link"
                                                            width="19"
                                                            height="19"
                                                            class="image" 
                                                        />
                                                    </a>
                                                </li>
                                            {%- endif -%}
                                        </ul>
                                    {%- endif -%}
                                </address>
                            {%- endif-%}
                        {%- when 'Menu' -%}
                             {%- if block.settings.footer_menu_heading != blank -%}
                                <h2 class="heading footer__heading">{{ block.settings.footer_menu_heading }}</h2>
                            {%- endif -%}

                            {%- if block.settings.footer_menu_list != blank -%}
                                <ul class="list" role="list">
                                    {%- for link in block.settings.footer_menu_list.links -%}
                                        <li>
                                            <a class="link" href="{{ link.url }}">{{ link.title }}</a>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            {%- endif -%}                       
                    {%- endcase -%}
                </section>
            {%- endfor -%}  
        </div>
    {%- endif -%}

    <small class="footer__copyrights">© Susparsa 2021</small>
</footer>

{% schema %}
  {
    "name": "footer",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "About",
        "name": "about",
        "settings" : [
          {
            "type": "text",
            "id": "footer_about_heading",
            "label": "Заголовок",
            "default": "About"
          },
          {
            "type": "richtext",
            "id": "footer_about_text",
            "label": "Текст",
            "default": "<p>Susparsa Store<br>Geneva, Switzerland</p>"
          },
          {
            "type": "text",
            "id": "footer_about-facebook",
            "label": "FB",
            "default": "https://www.facebook.com"
          },
          {
            "type": "text",
            "id": "footer_about-instagram",
            "label": "Instagram",
            "default": "https://www.instagram.com"
          }
        ]
      },
      {
        "type": "Menu",
        "name": "menu",
        "settings" : [
          {
            "type": "text",
            "id": "footer_menu_heading",
            "label": "Заголовок",
            "default": "Company"
          },
          {
            "type": "link_list",
            "id": "footer_menu_list",
            "label": "Меню",
            "default": "main-menu"
          }
        ]
      }   
    ]
  }
{% endschema %}