<script>
    const moneyFormat = '{{ shop.money_with_currency_format }}'
    const unavailable = '{{ 'products.product.unavailable' | t }}'
    const soldOut = '{{ 'products.product.sold_out' | t }}'

    window.variants_inventory = {};
    {%- for variant in product.variants -%}
        window.variants_inventory[{{- variant.id -}}] = {{ variant.inventory_quantity | json }};
    {%- endfor -%}
</script>

<main id="main" aria-label="product" class="main" tabindex="-1">
<article 
    class="product wrapper"
    data-section-id="{{- section.id -}}"
    data-section-type="alternate-main-product"
    data-handle="{{- product.handle -}}"
>
    <div class="product__group">
        <div class="product__illustration">
            <img 
                src="{{ product.featured_image | image_url: width: 473 }}" 
                alt="Image of the product."
                width="473" 
                height="707"
                class="image product__image"
                />
        </div>
        
        <section class="description product__description" aria-label="product description">
            <header class="description__section description__section--top">
                <h1 class="heading description__heading">
                    {{ product.title }}                   
                </h1>

                <span class="description__caption" aria-atomic="true" role="status" aria-live="polite">
                    <span class="visually-hidden">Product price is</span>
                    <span data-price>{{ product.selected_or_first_available_variant.price | money_with_currency }}</span>
                </span>

                <small class="description__note">{{ 'products.product.include_taxes' | t }}</small>
            </header>

            {% form 'product', product, class: 'form description__section', data-form: 'data-form', data-product-handle: product.handle %}
                {%- unless product.has_only_default_variant -%}
                    {%- for product-option in product.options_with_values -%}
                        {%- if product-option.name == 'Color' -%}
                            <fieldset class="fieldset form__filter form__filter--colored" data-colors>
                                <legend class="form__legend">
                                    {{ product-option.name }} - 
                                    <span data-color-name aria-hidden="true">{{ product-option.selected_value }}</span>
                                </legend>

                                {%- for value in product-option.values %}
                                    <div class="form__item form__item--{{ value | escape | downcase }}">
                                        <input 
                                            type="radio" 
                                            name="options[{{- product-option.name | escape -}}]" 
                                            id="{{ value | escape }}" 
                                            value="{{ value | escape }}"
                                            class="form__input visually-hidden"
                                            {%- if product-option.selected_value == value -%}
                                                checked="checked"
                                            {%- endif -%}
                                        />

                                        <label 
                                            for="{{ value | escape }}"
                                            data-tooltip="{{ value | escape }}"
                                            class="form__label form__label--colored"
                                        >
                                            <span class="visually-hidden">{{ value | escape }}</span>
                                        </label>
                                    </div>

                                    {% style %}
                                        {%- assign color = value | escape | downcase -%}

                                        .form__item--{{ color }}::after {
                                            --inner-label-background: {{ color }};
                                            {%- if color == 'white' -%}
                                                --inner-label-border-color: var(--color-silver);
                                            {%- else -%}
                                                --inner-label-border-color: {{ color }};
                                            {%- endif -%}
                                        }
                                    {% endstyle %}
                                {%- endfor -%}
                            </fieldset>
                        {%- else -%}
                            <fieldset class="fieldset form__filter">
                                <legend class="form__legend">{{ product-option.name }}</legend>

                                {%- for value in product-option.values %}
                                    <div>
                                        <input 
                                            type="radio" 
                                            name="options[{{- product-option.name | escape -}}]"
                                            id="{{ value | escape }}" 
                                            value="{{ value | escape }}"
                                            class="form__input visually-hidden"
                                            {%- if product-option.selected_value == value -%}
                                                checked="checked"
                                            {%- endif -%} 
                                        />

                                        <label for="{{ value | escape }}" class="form__label">
                                            <abbr>{{ value | escape }}</abbr>
                                        </label>
                                    </div>
                                {%- endfor -%}
                            </fieldset>
                        {%- endif -%}          
                    {%- endfor -%}
                {%- endunless -%}
                <fieldset data-counter class="fieldset counter">
                    <legend class="form__legend">Quantity</legend>
                    
                    <input
                        data-input 
                        type="number"
                        name="quantity" 
                        class="input-number counter__input"
                        aria-label="items quantity"
                    />

                    <button
                        data-decrease
                        type="button"
                        class="button counter__button"
                        aria-label="Decrease"
                    > 
                        −
                    </button>

                    <button
                        data-increase
                        type="button" 
                        class="button counter__button counter__button--increase"
                        aria-label="Increase"
                    >
                        +
                    </button>
                </fieldset>

                <div class="form__button-group">
                    <button 
                        type="submit" 
                        name="submit" 
                        value="{{ 'products.product.add_to_cart' | t }}"
                        class="button form__button form__button--secondary"
                        aria-live="polite"
                        data-button-add
                    >
                        {{ 'products.product.add_to_cart' | t }}
                    </button>

                    <button 
                        type="submit" 
                        name="submit" 
                        value="Buy it now"
                        class="button form__button form__button--primary"
                        data-button-buy
                    >
                        Buy it now
                    </button>
                </div>
                
                <input type="hidden" name="sections" value="alternate-header">
            {% endform %}

            {%- if product.description != blank-%}
                <footer class="description__section description__section--bottom user-description">
                    <span class="visually-hidden">product information</span>
                    {{ product.description }}       
                </footer>
            {%- endif -%}
        </section>
    </div>

    {%- if section.blocks.size > 0 -%}
        <ul class="list product__accordion accordion" role="list" data-accordion>
            {%- for block in section.blocks -%}
                <li {{ block.shopify_attributes }} class="accordion__item">
                    <details class="accordion__element" data-details open>
                        <summary class="accordion__summary" data-summary>
                            <h2 class="heading accordion__heading">
                                {{ block.settings.accordion_item_heading | default: 'Accordion heading.' }}
                            </h2>
                        </summary>

                        <div class="accordion__collapse" data-details-collapse>
                            <p class="paragraph">
                                {{ block.settings.accordion_item_text | default: 'Accordion collapse.' }}
                            </p>
                        </div>
                    </details>
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
</article>
</main>

{% schema %}
  {
    "name": "Alternate-main-product",
    "limit": 1,
    "templates": ["product"],
    "blocks": [
      {
        "type": "Accordion",
        "name": "accordion",
        "settings": [
          {
            "type": "text",
            "id": "accordion_item_heading",
            "label": "Заголовок"
          },
          
          {
            "type": "richtext",
            "id": "accordion_item_text",
            "label": "Текст"
          }
        ]
      }
    ],
    
    "presets": [
      {
        "name": "alternate-main-product"
      }
    ]
  }
{% endschema %}
